# Backend
DATABASE_URL="postgresql://pivotvault_seed_user:IwxMwwzzjhJcDOORzHkDTIGCAIrsPyCK@dpg-d9q94m3m8hqs73e85dfg-a/pivotvault_seed"
REDIS_URL="redis://localhost:6379"
PORT=4000
NODE_ENV=development

# Frontend
VITE_API_URL=https://pivotvault-10le.onrender.com
